/*************************************************
 *  Core
 **************************************************/

/* Body text */
p {
  text-align: justify;
}

li {
  text-align: justify;
}



/*************************************************
 *  Blog Articles
 **************************************************/

.article-banner {
  width: initial;
  max-width: 100%;
  margin: auto;
}

